<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>
  
      <div class="row">
        <div  *ngFor="let item of productssservice.list" class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="../../../../server/images/{{item.img}}"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">{{item.name}}</h5>
              </a>
              <a href="" class="text-reset">
                <p>{{item.category}}</p>
              </a>
              <h6 class="mb-3">{{item.price}}</h6>
              <button (click)="Productselection(item.id)" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">خرید محصول</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>