<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            محصول جدید <br />
            <span style="color: hsl(218, 81%, 75%)">خود را وارد کنید</span>
          </h1>

        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="form">
                <div class="form-outline mb-4">
                    <input formControlName="imgurl" type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3"> ادرس عکس را وارد کنید</label>
                  </div>
  
                
                <div class="form-outline mb-4">
                  <input formControlName="name" type="text" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">اسم محصول را وارد کنید</label>
                </div>
  
                <div class="form-outline mb-4">
                    <input  formControlName="category" type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3"> دسته بندی محصول را وارد کنید</label>
                  </div>

                <div class="form-outline mb-4">
                  <input  formControlName="price"  type="text" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">قیمت محصول را وارد کنید</label>
                </div>
                <button (click)="onProductRegistration()" type="button" class="btn btn-primary btn-block mb-4">
                ثبت محصول
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
