<body dir="rtl">
    

<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex justify-content-between ">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="with">
        <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarCollapse2">
            <div>
            <a routerLink="./cart"><img class="image" src="../../assets/image/cart.png" alt="saasadewf"></a>
        </div>
            <div class="navbar-nav">
                <a *ngIf="authService.localstrongfull && !loginservice.Usertype"  routerLink="./login" routerLinkActive="router-link-active"  class="nav-item nav-link active">ورود</a>
                <a *ngIf="loginservice.Usertype"  routerLink="./login" routerLinkActive="router-link-active"  class="nav-item nav-link active">سفارشات مشتریان</a>
                <a *ngIf="loginservice.Usertype"  routerLink="./Createproduct" routerLinkActive="router-link-active"  class="nav-item nav-link active">افزودن محصول</a>
                <a *ngIf="loginservice.Usertype"  (click)="onlogoutadmin()" routerLink="./login" routerLinkActive="router-link-active"  class="nav-item nav-link active">خروج</a>
                <a *ngIf="!authService.localstrongfull" (click)="onlogout()" routerLink="./login" routerLinkActive="router-link-active"  class="nav-item nav-link active">خروج</a>
                <a *ngIf="authService.localstrongfull && !loginservice.Usertype" routerLink="./registration" class="nav-item nav-link">ثبت نام</a>
                <a routerLink="" class="nav-item nav-link">محصولات</a>
            </div>
            <div>
            <form class="d-flex ms-auto">
                <input (click)="onsearch($event)" type="text" class="form-control me-sm-2" placeholder="Search">
                <button (click)="onclicksearch()" type="button" class="btn btn-outline-light">Search</button>
            </form>
        </div>
        </div>
        </div>
    </div>        
</nav>
</body>